<form
  [formGroup]="timeRangeForm"
  (ngSubmit)="onSubmit()"
  class="form-container"
>
  <div class="inputs-groups-wrapper">
    <div class="input-wrapper">
      <label for="from" i18n="@@from">From*</label>
      <input
        id="from"
        class="input-field"
        type="date"
        formControlName="from"
        style="width: 7rem"
        value="{{ currentDate() }}"
      />
    </div>
    <div class="input-wrapper">
      <label for="to" i18n="@@to">To*</label>
      <input
        id="to"
        class="input-field"
        type="date"
        formControlName="to"
        style="width: 7rem"
        value="{{ currentDate() }}"
      />
    </div>
  </div>
  <button
    i18n="@@search"
    class="submit-button"
    matButton="filled"
    type="submit"
    (submit)="onSubmit()"
    [disabled]="!timeRangeForm.valid"
  >
    Search
  </button>
  <p i18n="@@required">*- Required</p>
</form>

@if(!timeRangeForm.valid){
<ul class="errors-container">
  @if(from?.hasError('required')){
  <li i18n="@@fromIsRequired">From field is required</li>
  } @if(to?.hasError('required')){
  <li i18n="@@toIsRequired">To field is required</li>
  } @if(timeRangeForm.hasError('dateNotValid')){
  <li i18n="@@dateNotValid">Date is not valid</li>
  } @if(timeRangeForm.hasError('formIsAfterTo')){
  <li i18n="@@formIsAfterTo">From date must be before To date</li>
  }
</ul>
}
