<form
  [formGroup]="bloodPresureValuesForm"
  (ngSubmit)="onSubmit()"
  class="form-container"
>
  <div class="inputs-container">
    <div class="inputs-groups-wrapper">
      <div class="input-wrapper">
        <p><label for="date" i18n="@@date">Date</label><span>*</span></p>
        <input
          id="date"
          class="input-field"
          type="date"
          formControlName="date"
          style="width: 7rem"
          value="{{ currentDate() }}"
        />
      </div>
      <div class="input-wrapper">
        <p><label for="time" i18n="@@time">Time</label> <span>*</span></p>
        <input
          id="time"
          class="input-field"
          type="time"
          formControlName="time"
          style="width: 5rem"
          value="{{ currentTime() }}"
        />
      </div>
    </div>
    <div class="inputs-groups-wrapper">
      <div class="input-wrapper">
        <p><label for="sys" i18n="@@sys">Sys.</label><span>*</span></p>
        <input
          i18n-placeholder="@@systonic"
          id="sys"
          class="input-field"
          type="number"
          formControlName="sys"
          placeholder="Systonic"
        />
      </div>
      <div class="input-wrapper">
        <p><label for="dis" i18n="@@dis">Dias.</label><span>*</span></p>
        <input
          i18n-placeholder="@@diastonic"
          id="dis"
          class="input-field"
          type="number"
          formControlName="dis"
          placeholder="Diastonic"
        />
      </div>
      <div class="input-wrapper">
        <p><label for="pulse" i18n="@@pulse">Pulse</label></p>
        <input
          i18n-placeholder="@@pulse"
          id="pulse"
          class="input-field"
          type="number"
          formControlName="pulse"
          placeholder="Pulse"
        />
      </div>
    </div>
  </div>
  <button
    i18n="@@insertValues"
    matButton="filled"
    type="submit"
    (submit)="onSubmit()"
    [disabled]="!bloodPresureValuesForm.valid"
  >
    Insert Values
  </button>
  <p i18n="@@required">*- Required</p>
</form>
@if(!bloodPresureValuesForm.valid && bloodPresureValuesForm.touched &&
bloodPresureValuesForm.dirty){

<div class="errors-container">
  <ul>
    @if(sysControl?.hasError('required')){
    <li i18n="@@sysIsRequired">Sys field is required</li>
    } @if(sysControl?.hasError('max') || sysControl?.hasError('min')){
    <li i18n="@@sysValueNotPlausable">Sys value is not plausable</li>
    } @if(disControl?.hasError('required')){
    <li i18n="@@diasIsRequired">Dias field is required</li>
    } @if(disControl?.hasError('max') || disControl?.hasError('min')){
    <li i18n="@@diasValueNotPlausable">Dias. value is not plausable</li>
    } @if(bloodPresureValuesForm.hasError('valuesNotValid')){
    <li i18n="@@sysHaveToBeOverDis">Sys have to be over dis</li>
    }@if(bloodPresureValuesForm.hasError('dateNotValid')){
    <li i18n="@@dateIsInTheFuture">Inserted date and time is in the future</li>
    }
  </ul>
</div>
}
