.nav-bar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}

img{
  height: 3rem;
  width: 3rem;
}

.sign-button{
  display: flex;
  align-items: center;
}
