<div class="nav-bar-container">
  <div>
    <img
      src="../../../assets/icon/blood_pressure_24dp_BB271A_FILL0_wght400_GRAD0_opsz24.svg"
    />
  </div>
  <button matButton="" class="sign-button" (click)="onClick()">
    <span>{{ buttonTitle() }}</span
    ><mat-icon>{{ iconName() }}</mat-icon>
  </button>
  <button matButton="outlined"  class="sign-button" (click)="getList()">
    <span>get list</span
    ><mat-icon>file</mat-icon>
  </button>
  <nav>
    <app-menu></app-menu>
  </nav>
</div>
