<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
  class="menu-button"
>
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu" class="menu">
  <a routerLink="/home" mat-menu-item class="menu-item">
    <mat-icon>home</mat-icon>
    <span i18n="@@home">Home</span></a
  >
  <a routerLink="/statistics" mat-menu-item class="menu-item">
    <mat-icon>search</mat-icon>
    <span i18n="@@findSavedValues">Find Saved Values by Date Range</span></a
  >
</mat-menu>
